<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Big-big library</title>
  </head>
  <body>
    <hr class="mt-0 { margin-top:0 !important; }"/>
    <div class="mx-auto" style="width: 200px;">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if current_page == 1 %}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Назад</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="index{{ current_page - 1 }}.html" aria-label="Previous">
                <span aria-hidden="true">Назад</span>
              </a>
            </li>
          {% endif %}

          {% for page in range(1, pages_count + 1) %}
            {% if page == current_page %}
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="index{{ page }}.html">{{ page }} <span class="sr-only">{{ page }}</span></a>
                  </li>
            {% else %}
              <li class="page-item"><a class="page-link" href="index{{ page }}.html">{{ page }}</a></li>
            {% endif %}
          {% endfor %}

          {% if current_page == pages_count %}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Вперёд</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="index{{ current_page + 1 }}.html" aria-label="Next">
                <span aria-hidden="true">Вперёд</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
    <div class="container">
      {% for keys in books_keys %}

        {% if keys|length == 2 %}
          <div class="row">
            <div class="col">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="{{ parsed_books[keys[0]]['image_url'] }}" class="card-img" alt="{{keys[0]}}">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{ keys[0] }}</h5>
                      <p class="card-text">{{ parsed_books[keys[0]]['author']}}</p>
                      <p>
                        {% for genre in parsed_books[keys[0]]['genres'] %}
                          <span class="badge badge-light">{{ genre }}</span>
                        {% endfor %}
                      </p>
                      <a href="{{ parsed_books[keys[0]]['txt_url']}}" target="_blank">Читать</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="{{ parsed_books[keys[1]]['image_url'] }}" class="card-img" alt="{{keys[1]}}">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{ keys[1] }}</h5>
                      <p class="card-text">{{ parsed_books[keys[1]]['author']}}</p>
                      <p>
                        {% for genre in parsed_books[keys[1]]['genres'] %}
                          <span class="badge badge-light">{{ genre }}</span>
                        {% endfor %}
                      </p>
                      <a href="{{ parsed_books[keys[1]]['txt_url'] }}" target="_blank">Читать</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        {% else %}
          <div class="row">
            <div class="col">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="{{ parsed_books[keys[0]]['image_url'] }}" class="card-img" alt="{{keys[0]}}">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{ keys[0] }}</h5>
                      <p class="card-text">{{ parsed_books[keys[0]]['author']}}</p>
                      <p>
                        {% for genre in parsed_books[keys[0]]['genres'] %}
                          <span class="badge badge-light">{{ genre }}</span>
                        {% endfor %}
                      </p>
                      <a href="{{ parsed_books[keys[0]]['txt_url'] }}" target="_blank">Читать</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}

      {% endfor %}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>